<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app maker</title>
    <style> 

</style>
</head>
<body style="background-image: url('static/pics/back.jpg');"><!--if dosent work delet static-->
<h1>WE</h1>
<h3>Website Editors</h3>
<h2>About Us</h2>
<p>WE is an online platform</p>
<p>that connects between profecinal website editors and small buisness owners</p> 
<p>that decided to take there buisness to the next level</p>
<a href = "/link-about">
    <button class="btn">website makers</button>
</a>

</body>
</html>